  
  .topnav {
    overflow: hidden;
    background-color: antiquewhite;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    color:black;
  }
  
  .topnav a.icon {
    background: antiquewhite;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: rgb(248, 243, 237);
    color: rgb(76, 75, 75);
  }
  
  .active {
    color: white;
  }

  .imageIcon {
    width: 20%;
    height: 20%;
    position: relative;
  }

  body {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
  }