/* Container holding the image and the text */
.resumeContainer {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .resumeHeading {
    font-size:18px;
    line-height: 18px;
    font-weight: bold;
    color:lightgreen;
    font-family:'Lucida Sans';
}.resumeTitle {
    font-size:56px;
    font-weight: bold;
    color:white;
    font-family:'Lucida Sans';
}
h3 {
    font-size:medium;
    font-family:'Lucida Sans';
}

p {
    font-size:18px;
    font-family:'Lucida Sans';
    line-height: 18px;
}

tr {
    vertical-align: top;
}