h1 {
    font-size:large;
    font-family:'Lucida Sans';
}
h2 {
    font-size:larger;
    font-family:'Lucida Sans';
}
h3 {
    font-size:medium;
    font-family:'Lucida Sans';
}

p {
    font-size:small;
    font-family:'Lucida Sans';
}
li {
    font-size:small;
    font-family:'Lucida Sans';
}

table {
    border: 0px;
}

.pushRow {
    padding-left: 150px;
}

ul {
    padding-left: 13px;
}

.BottomInformation {
    position:absolute;
    vertical-align: bottom;
}

.bold {
    font-weight: bold;
}